<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
  <style>
    .card {
 width: 600px;
 height: 174px;
 background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
 border-radius: 20px;
 transition: all .3s;
 margin: 15px;
 /* overflow: hidden; */
}

.card2 {
  padding: 15px;
 width: 600px;
 height: 204px;
 background-color: #1a1a1a;
 border-radius:2px;
 transition: all .2s;
 /* overflow: hidden; */
}

.card2:hover {
 transform: scale(0.98);
 border-radius: 20px; 
}

.card:hover {
 box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.card-title{
  color: aliceblue;
}
.card-subtitle{
  color: bisque;
  margin-top: 2px;
  margin-bottom: 2px;

}
.card-text{
  color: darkgray;
  margin-bottom: 5px;
}
.container{
 width: 100vw;
 height: 150%;
 border-radius: 30px;
 display: flex;
 flex-direction: column;
 background: #1d1b1b;
 box-shadow: 15px 15px 15px rgb(25, 25, 25),
             -15px -15px 30px rgb(60, 60, 60);

}
.box {
  width: 140px;
  height: auto;
  float: left;
  display: grid;
  transition: .5s linear;
  position: relative;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 10px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
  border-color:color-mix(in srgb, #00ff75 75%, #3700ff 20%);
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
  border-color: color-mix(in srgb, #00ff75 75%, #3700ff 50%);
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}


body{
  background-color:#1e1b1b;
}

.btn {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: .125em;
  --curve-size: .5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
    /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: .5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
  clip-path: polygon(
            /* Top-left */
            0% var(--curve-size),

            var(--curve-size) 0,
            /* top-right */
            100% 0,
            100% calc(100% - var(--curve-size)),

            /* bottom-right 1 */
            calc(100% - var(--curve-size)) 100%,
            /* bottom-right 2 */
            0 100%);
  transition: color 250ms;
}

.btn::after,
.btn::before {
  content: '';
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%
  }

  50% {
    background-position: 70% 100%
  }

  100% {
    background-position: 31% 0%
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
            /* Top-left */
            var(--border-width) 
            calc(var(--curve-size) + var(--border-width) * .5),

            calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),

            /* top-right */
            calc(100% - var(--border-width)) 
            var(--border-width),

            calc(100% - var(--border-width)) 
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
            /* bottom-right 2 */
            var(--border-width) calc(100% - var(--border-width)));
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
                /* Top-left */
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    
                calc(100% - var(--border-width))

                var(--border-width),
    
                /* top-right */
                calc(100% - var(--border-width))

                 var(--border-width),
    
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
    
                /* bottom-right 1 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                calc(100% - var(--border-width)),

                /* bottom-right 2 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                calc(100% - var(--border-width)));
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  color: #fff;
}
.mb{
  color: color-mix(in hwb shorter hue, #7e03aa  50%, #2e53a4 50%);
  margin: 5px;
}

  </style>
</head>
<body>
  <div class="container">
    <h1 class="mb">Blog Articles</h1>
    <a href="/articles/new" class="box">New Article</a>

    <% articles.forEach(article => { %>
      <div class="card">
        <div class="card2">
          <h4 class="card-title"><%= article.title %></h4>
          <div class="card-subtitle">
            <%= article.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text"><%= article.description %></div>
          <a href="articles/<%= article.slug %>" class="btn ">Read More</a>
          <a href="articles/edit/<%= article.id %>" class="btn">Edit</a>
          <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn">Delete</button>
          </form>
        </div>
      </div>
    <% }) %>
  </div>
</body>
</html>